.hold-hue {
  width: 2rem;
  height: 15rem;
  position: absolute;
}

.huell {
  margin-left: 2rem;
  width: 15rem;
  height: 15rem;
  position: relative;
}
.huell p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.g {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2rem;
}
